[Unit]
Description=Apache Kafka Server
Requires=zookeeper.service
After=zookeeper.service

[Service]
Type=simple
User={{ USER }}
ExecStart=/bin/sh -c "{{ FILE_PATH }}/kafka/bin/kafka-server-start.sh {{ FILE_PATH }}/kafka/config/server.properties > {{ FILE_PATH }}/kafka/kafka.log 2>&1"
ExecStop={{ FILE_PATH }}/kafka/bin/kafka-server-stop.sh
Restart=on-abnormal

[Install]
WantedBy=multi-user.target
