[Unit]
Requires=zookeeper.service
After=zookeeper.service

[Service]
Type=simple
User={{ USER }}
ExecStart=/bin/sh -c '/home/{{ USER }}/kafka/bin/kafka-server-start.sh /home/{{ USER }}/kafka/config/server.properties > /home/{{ USER }}/kafka/kafka.log 2>&1'
ExecStop=/home/{{ USER }}/kafka/bin/kafka-server-stop.sh
Restart=on-abnormal

[Install]
WantedBy=multi-user.target
